include *.txt *.ini *.cfg *.rst *.sh
recursive-include travelcrm *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml *.pot *.mo *.po *.otf *.eot *.svg *.ttf *.woff
recursive-include sql *.sql
recursive-include scaffold *.txt_tmpl *.mako_tmpl *.py_tmpl
graft alembic
graft data/storage