@CHARSET "UTF-8";
@IMPORT url("./emastic/reset.css");
@IMPORT url("./emastic/type.css");
@IMPORT url("./emastic/grid.css");
@IMPORT url("./emastic/plugins/absolute-grid.css");
@IMPORT url("./emastic/plugins/percent-grid.css");
@IMPORT url("./emastic/plugins/gadgets.css");
@IMPORT url("./gh-buttons.css");
@IMPORT url("./font-awesome.min.css");


/** emastic hacks **/
.main{
    width: 115em;
}
html, body{
	color: #555;
	height: 100%;
}
a{
	color: #000;
	outline: none;
	text-decoration: none;
}
ol, ul{
	margin: 0px 0px 0px 20px;
}
p{
	padding: 3px 0px;
}
#_page_{
	background-color: #f4f4f4;
}

#_head_{
	height: 78px;
	background-color: #e9e9e9;
}
#_top_{
	height: 44px;
	background-color: #2b394a !important;
}
#_navigation_{
    background-color: #eee;
    padding: 3px 0px;
    border-bottom: 1px dashed #2b394a;
}
#_content_, #_auth_{
	box-shadow: 0px 0px 6px 0px rgba(119, 119, 119, 0.44);
	-moz-box-shadow: 0px 0px 6px 0px rgba(119, 119, 119, 0.44);
	-webkit-box-shadow: 0px 0px 6px 0px rgba(119, 119, 119, 0.44);
	min-height: -moz-calc(100% - 108px); /* Firefox */
	min-height: -webkit-calc(100% - 108px); /* Chrome, Safari */
	min-height: calc(100% - 108px); /* IE9+ and future browsers */
}
#_auth_{
    min-height: -moz-calc(100% - 74px); /* Firefox */
    min-height: -webkit-calc(100% - 74px); /* Chrome, Safari */
    min-height: calc(100% - 74px); /* IE9+ and future browsers */
}
#_main_{
	background: #e9e9e9;
}

#_footer_{
    height: 30px;
    line-height: 30px;
    background-color: #2b394a;
    color: #fff;
}
#_notifications_{
    height: 300px;
}
.logo{
    color: #ffffff !important;
    padding-top: 5px;
}
.logo .logo-big{
    font-size: 24px;
}
.logout{
	color: #ffffff;
	margin-top: 1.0em;
}
.logout a{
    margin-right: 5px;
    color: #ffffff !important;
}
.h100{
    height: 100%;
}
table {
    margin: 0;
}
._container .unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hidden{
	display: None
}
hr.dashed{
    margin: 5px 0px 5px 0px;
    padding: 0;
    border: none;
    border-bottom: 1px dashed #d3d3d3;
    height: 1px;
}
.project-link{
    color: #fff;
    text-decoration: underline;
}
a.dashed{
    border-bottom: 1px dashed #d3d3d3;
}
a.white{
    color: #fff;
}
a.white:hover{
    text-decoration: none;
}
.menu a:hover{
    text-decoration: none;	
}

/** paddings **/
.p1 {
    padding: 1em;
}
.p05{
	padding: 0.5em;
}
.pt1{
	padding-top: 1em;
}
.pt02{
    padding-top: 0.2em;
}
.pt03{
    padding-top: 0.3em;
}
.pt04{
    padding-top: 0.4em;
}
.pt05{
	padding-top: 0.5em;
}
.pb05{
	padding-bottom: 0.5em;
}
.pr02{
	padding-right: 0.2em;
}
.pl02{
    padding-left: 0.2em;
}


/** margins **/
.m05{
	margin: 0.5em;
}
.mb1 {
    margin-bottom: 1em;
}
.mt1 {
    margin-top: 1em;
}
.mr1 {
    margin-right: 1em;
}
.ml1 {
    margin-left: 1em;
}
.ml1-5{
	margin-left: 1.5em;
}
.mt05 {
    margin-top: 0.5em;
}
.mr05 {
    margin-right: 0.5em;
}
.mb05 {
	margin-bottom: 0.5em;
}
.ml05 {
    margin-left: 0.5em;
}
.mt02{
    margin-top: 0.2em;
}
.mt03{
    margin-top: 0.3em;
}

/** borders **/
.top-line{
    border-top: 1px dashed #eee;
}

/**jeasyui override **/
.combo{
	height: 20px;
}

.combo-text{
	outline: none;
	padding-left: 2px;
}

.combobox-item{
	padding: 1px 2px 1px 2px;
}

.combobox-item-hover{
	cursor: pointer;
}

.combobox-item-selected{
	background: #ccc;
	color:#fff;
}

.spinner-text{
	outline: none;
	padding-left:2px;
}

.datagrid-toolbar{
	height:auto;
}

.datagrid-row-selected{
	background: #eee;
	color:#000;
}

.datagrid-row-expand{
	background-position: -32px 0px;
}

.datagrid-row:hover{
	cursor: pointer;
}

.datagrid-header-row td{
	border-bottom: none;
}
.tree-node-selected{
	background: #eee;
}

a:hover.l-btn-plain{
	background: transparent;
}

.pagination-num{
	text-align: center;
}

.layout-expand .panel-header{
	border-top-width: 0px;
}

.panel-icon.fa{
	line-height: 18px;
}

.panel-header .panel-title{
    font-size: 12px;
    height: inherit;
    line-height: inherit;
}

.tree-file, .tree-folder, .tree-folder-open,
.datebox .combo-arrow{
	background: none;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
	font-size: 14px;
	background-color: #f3f3f3;
	text-align: center;
}
.tree-file:before{
    content: "\f15b";
}

.tree-folder:before{
    content: "\f07b";
}

.tree-folder-open:before{
    content: "\f07c";
}
.tree-node-selected{
    color: #000000;
}
.datebox .combo-arrow:before{
    content: "\f073";
}
.combogrid-toolbar{
	height: 18px;
	line-height: 18px;
	border: none;
	display: inline-block;
}
.combogrid-toolbar a{
	height: 18px;
	width: 18px;
	line-height: 18px;
    background-color: #ececec;
	text-align: center;
	opacity: 0.8;
	margin-left: 4px;
	border: none;
}
.combogrid-toolbar a:hover{
	text-decoration: none;
	background-color: #000;
	color: #fff;
}
.datagrid-toolbar.combogrid-toolbar a:first-child{
	margin-left: 0px;
}
.datagrid-toolbar.combogrid-toolbar a:hover{
	text-decoration: none;
	opacity: 1;
}
.accordion .accordion-header-selected .panel-title{
	color: black;
	font-weight: normal;
}
.accordion .accordion-header-selected{
	background-color: #ececec;
}
.easyui-calendar.tasks .calendar-day.calendar-selected{
	background-color: #555;
	color: #fff;
}
.easyui-calendar.tasks .calendar-day{
	vertical-align: top;
	text-align: left;
	font-size: 10px;
	border: 1px solid #eee;
	padding: 0px;
	border-left: none;
	border-top: none;
	height: 50px;
	color: #444;
}
.easyui-calendar.tasks .calendar-day td{
	text-align: left;
}
.easyui-calendar.tasks .calendar-day .calendar-date{
	padding: 0px 2px;
}
.calendar-day, .calendar-menu-month{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
}
.easyui-calendar.tasks .calendar-day .tasks-container{
	font-size: 14px;
}
.easyui-calendar.tasks .calendar-day .tasks-container .task-status{
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
}
.easyui-calendar.tasks .calendar-day .tasks-container .task-status.task-open{
	color: black;
}
.button .l-btn-text{
	line-height: 12px;
	margin: 0px;
	font-size: 11px;
}
/* a:hover.button.l-btn-plain{
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}
.button.l-btn-plain:hover{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
} */
.switchbutton-on {
    background: #666;
}

/* navigation */
#_navigation_ .easyui-linkbutton, #_navigation_ .easyui-menubutton{
	margin-right: 15px;
}
#_navigation_ span.l-btn-text{
	font-size: 14px;
}
#_navigation_ .l-btn-icon{
	font-size: 16px;
	text-align: center;
	margin-right: 5px;
}

/* form */
form{
	margin-bottom: 0px;
}
.form-field{
    padding: 5px 10px;
}
.form-field:hover{
    background: #f3f3f3;
}
.form-field:first-child{
    margin-top: 6px;
}
.form-field:last-child{
	margin-bottom: 6px;
}
.form-field label{
	line-height: 25px;
}
.form-field label.required:after{
    content: "*";
    color: red;
    margin-left: 5px;
}

.form-field textarea{
    display: block;
}
.form-buttons{
	border-top: 1px solid #D1D1D1;
	padding: 5px 10px;
	background: #fafafa;
	height: 26px;
}
.form-buttons .status-bar{
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
}
.form-buttons .button-group.tr{
	float: right;
}
form a{
    text-decoration: none;
}
form a:hover{
    border: none;
}
.input-icon-after {
	position: relative;
}
.input-icon-after .text{
	padding-right: 20px;
}
.input-icon-after .fa{
	position: absolute;
	right: 1px;
	top: -2px;
	width: 18px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #f3f3f3;
	line-height: 20px;
} 

/** required **/
.required .required-symbol{
	color: #900;
}

/** errors **/
.error .fa{
    color: #900;
}
.status-bar.error{
    color: #900;
}
.tabs li a.tabs-inner.error{
    border-top: 2px solid #900;
}
span.error.fa{
	font-size: 16px;
	margin-left: 5px;
	color: #900;
	cursor: pointer;
	vertical-align: middle;
}
span.error.as-text, span.error.as-text span{
	line-height: 22px;
	height: 22px;
	vertical-align: middle;
}
span.error.as-text span{
	color: #900;
	font-size: 12px;
	margin-left: 5px;
}

/** inputs **/
input{
	outline: none;
}
.textbox, .textbox-text{
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.w5{
    width: 5em;
}
.w10{
    width: 10em;
}
.w15{
    width: 15em;
}
.w20{
    width: 20em;
}
.w25{
    width: 25em;
}
.w30{
    width: 30em;
}

/** datagrid labels **/
.label{
	padding: 0px 2px;
	font-size: 90%;
}
.label.active{
	color: #fff;
	background-color: #558347;
}
.label.archive{
    color: #fff;
    background-color: #555;
}
.label.green{
	color: #fff;
	background-color: green;
}

/** datagrid **/
.datagrid-toolbar{
	padding: 4px;
	height: 26px;
}

.datagrid-toolbar.no-height{
    height: auto;	
}

/** document rows **/
.document-rows{
	margin-top: 0.5em;
	border-top: 1px dashed #ccc;
}

.document-rows:after .form-buttons{
	margin-top: 0em !important;
}


/** searchbar **/
.search{
	position: relative;
}
.searchbar span.field-actions{
	position: absolute;
	top: 2px;
	right: 0px;
}
.search .advanced-search{
	position: absolute;
	border: 1px solid #d1d1d1;
	background: transparent url(./img/adv-search-bg.png) repeat;
	top: 23px;
	right: 0px;
	z-index: 2;
	background-color: #fff;
	width: 323px;
	display: none;
	padding: 5px 5px 0px 5px;
}
.search .advanced-search .fields-container{
	height: auto;
	max-height: 280px;
	overflow-y: scroll; 
}

/** buttons **/
.datagrid-toolbar .button{
	padding: 0.5em 0.9em;
}
.button .fa{
	margin-right: 4px;
}

/** fields **/
span.field-actions{
	display: inline-block;
	line-height: 20px;
	border: 1px solid #d3d3d3;
	border-left-width: 0px;
	background-color: #f3f3f3;
	vertical-align: middle;
}
span.field-actions span.field-action{
	display: inline-block;
	font-size: 14px;
	width:20px;
	text-align: center;
	border-left: 1px dashed #d3d3d3;
	cursor: pointer;
	opacity:0.5;
}
span.field-actions span.field-action:hover{
	opacity:0.9;
}
span.field-actions span.field-action:first-child {
	border-left: none;
}

/** grid **/
.grid-details, .grid-details tr, .grid-details td{
	border: none;
}

/** info block **/
.info-block{
	padding: 10px;
	margin-top: 10px;
	background: transparent url(./img/adv-search-bg.png) repeat;
}

/** delimiter-block **/
.delimiter-block{
	margin: 5px 0px;
	background: transparent url(./img/adv-search-bg.png) repeat;
	height: 5px;
}

/** labels **/
.status-label{
	padding: 1px 2px;
	color: #fff;
}
.status-label.active{background-color: #008000;}
.status-label.disabled{background-color: #800000;}
.status-label.failure{background-color: #800000;}
.status-label.new{background-color: #808080;}
.status-label.enquiry{background-color: #800080;}
.status-label.in_work{background-color: #008080;}
.status-label.ready{background-color: #008000;}
.status-label.closed{background-color: #008000;}
.status-label.success{background-color: #008000;}
.status-label.unactive{background-color: #800000;}
.status-label.awaiting{background-color: #808080;}


/** images **/
div.image-thumb{
    width:110px;
    height:110px;
    background-color: #fafafa;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 110px;
}

/** employee info **/
.employee-info{
	color: #fff;
	margin-top: 3px;
}
.employee-info img{
	display: inline-block;
	margin-top: 4px;
	margin-right: 10px;
}

/** payment indicator **/
div.payment-indicator{
	background-color: #eeeeee;
	height: 12px;
	position: relative;
}
div.payment-indicator span{
	position: absolute;
	display: block;
	height: 12px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top: -2px;
	font-size: 10px;
	font-weight: 700;
}
div.payment-indicator div{
	background-color: #ccc;
	height: 12px;
}

/** quick links **/
.employee-quick-menu{
    margin-top: 1.4em;
}
.quick-menu-item{
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 5;
}
.quick-menu-item:hover{
	text-decoration: none;
	cursor: pointer;
}
.quick-menu-item .indicator{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 60%;
    background-color: white;
    color: #555;
    padding: 1px 2px 0px 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 8px;
}

/** details **/
.item-details{
	margin: 5px 0px;
}

/** tags input **/
.tags-container{
    width: 271px;
    margin-bottom: 5px;
    max-height: 50px;
    overflow-y: scroll;
}
.tag{
    padding: 1px 3px;
    margin-right: 5px;
    background-color: #ccc;
    margin-bottom: 3px;
    display: inline-block;
}
.tag i{
    margin-left: 3px;
    cursor: pointer;
}
